{% extends "base.html" %}
{% load i18n %}

{% block title %}Turniej{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center">
        <H1>AlkoTurniej</H1>
        {% if status == "ok" %}
        <p>Wypełnij dane aby dołączyć do turnieju</p>

        <form action="" method="post">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Numer licencji</label>
                        <br>
                        {% if form.license_number.errors %}
                        <p class="errors">{{ form.license_number.errors.as_text }}</p>
                        {% endif %}
                        {{ form.license_number }}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Pozycja w rankingu</label>
                        <br>
                        {% if form.ranking_position.errors %}
                        <p class="errors">{{ form.ranking_position.errors.as_text }}</p>
                        {% endif %}
                        {{ form.ranking_position }}
                    </div>
                </div>
            </div>
            <input type="submit" value="Dołącz"/>
        </form>
        {% endif %}
        {% if status == "max_participants" %}
        <p>Zbyt duża licza uczestników</p>
        {% endif %}
        {% if status == "wrong_tournament" %}
        <p>Wybrany turniej nie istnieje</p>
        {% endif %}
    </div>
</div>
{% endblock %}