{% extends "base.html" %}
{% load i18n %}

{% block title %}Moje Turnieje{% endblock %}

{% block content %}

<div>
    <H1>Moje zbliżające się turnieje</H1>
    <table>
        <tr>
            <th>Nazwa Turnieju</th>
            <th>Data</th>
            <th>Strona Turnieju</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.date }}</td>
            <td><a href="">+</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}