{% extends "base.html" %}
{% load i18n %}

{% block title %}Moje Turnieje{% endblock %}

{% block content %}

<div class="container">
    <div class="text-center">
        <H1>Moje turnieje</H1></div>
    <table class="table">
        <tr>
            <th>Nazwa Turnieju</th>
            <th>Data</th>
            <th>Strona Turnieju</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.date }}</td>
            <td><a href="{% url 'tournament_site' item.id %}">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}