{% extends "base.html" %}
{% load i18n %}

{% block title %}Turniej{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center">
        <H1>AlkoTurniej</H1>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Nazwa</label>
                    <br>
                    {{ tournament.name }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Dyscyplina</label>
                    <br>
                    {{ tournament.branch }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Data</label>
                    <br>
                    {{ tournament.date }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Organizator</label>
                    <br>
                    {% if organizer.first_name or organizer.last_name %}
                    {{ organizer.first_name }} {{ organizer.last_name}}
                    {% else %}
                    {{ organizer.username }}
                    {% endif %}
                </div>
            </div>
            {% if tournament.position.latitude %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Pozycja</label>
                    <br>

                    <div style="width: 100%">
                        <iframe width="600" height="450" frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?q={{ tournament.position.latitude }} {{ tournament.position.longitude }}&key=AIzaSyCDAEXxFJIkhS3oKtHP8NeD4Li2aGflK70"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Minimalna liczba urzestników</label>
                    <br>
                    {{ tournament.min_participants }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Maksymalna liczba uczestników</label>
                    <br>
                    {{ tournament.max_participants }}
                </div>
            </div>
             <div class="panel panel-default">
                <div class="panel-body">
                    <label>Aktualna liczba uczestników</label>
                    <br>
                    {{ tournament.current_participants}}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Termin rejestracji</label>
                    <br>
                    {{ tournament.deadline}}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <label>Sponsorzy</label>
                    <br>
                    <img class="sponsor-image" src="{{ tournament.logo1.url }}">
                    <img class="sponsor-image" src="{{ tournament.logo2.url }}">
                    <img class="sponsor-image" src="{{ tournament.logo3.url }}">
                </div>
            </div>
            {% if active %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class="button_link" href="{% url 'tournament_join' tournament.id %}">Dołącz do Turnieju</a>
                </div>
            </div>


            {% endif %}
        </div>

    </div>
</div>
{% endblock %}