{% extends "base.html" %}
{% load i18n %}
{% block title %}Przypomnienie hasła{% endblock %}

{% block content %}
<div class="container">
    <div class="text-center">
        <H1>Przypomnienie hasła</H1>

        <p>
            Podany email nie istnieje w systemie. Podaj właściwy email lub
            <a href="{% url 'registration_register' %}">Zarejestruj się!</a>
        </p>

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Email</label>
                <br>
                {{ form.email }}
            </div>
            <input type="submit" value="Przypomnij hasło"/>
        </form>
    </div>
</div>
{% endblock %}
